.main-area {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 17px;
  }

  main {
      flex-grow: 1;
      overflow: auto;
  }
}
