body {
    font-family: "Vazirmatn";
}

.form-control,
.form-select,
.form-check {
    box-shadow: none !important;
}

.ltr {
    direction: ltr;
}

.app {
    width: 100vw;
    height: 100vh;
    min-width: 768px;
    display: flex;
}
